.WrongCounter .Message h2 {
  text-align: center; }

.WrongCounter .Message .PopUp {
  position: absolute;
  left: 8em;
  top: 8em;
  border: 1px solid white;
  width: 35em;
  height: 25em;
  background-color: rgba(187, 90, 42, 0.9);
  box-shadow: 7px 7px 7px #888888;
  text-align: center; }
  .WrongCounter .Message .PopUp p {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 3em; }
  .WrongCounter .Message .PopUp button {
    margin: 0 auto;
    width: 8em;
    height: 3em;
    font-size: 1em;
    background-color: #BB5A2A;
    box-shadow: 1px 1px 1px #888888;
    color: #FFFFFF; }

.WrongCounter .Lion {
  background-color: #FFC300;
  margin-top: 5em; }
  .WrongCounter .Lion img {
    height: 35em; }
